@import './settings.css';


html{
  overscroll-behavior: none;
}
body > #root > div {
  height: 100vh; 
  overscroll-behavior: none;
  color: var(--color-soft-pink);
}
.App {
  text-align: center;
  width: 100%;
}

a{
  text-decoration: none;
}
a:link {
  color: var(--color-soft-blue);
  
}
a:visited {
  color: var(--color-soft-purple);
}
a:hover{
  text-decoration: underline;
}

.header{
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  border-bottom: solid 3px var(--color-grey-purple);
}

.nameHeader {
  display: flex;
  font-size: 1.3em;
  color: var(--color-soft-purple);
  flex-direction: column-reverse;
  align-content: baseline;
  margin-left: 5px;
}

.resizeHandle[direction=row]:hover{
  cursor:row-resize
}
.resizeHandle[direction=col]:hover{
  cursor:col-resize
}
